<!DOCTYPE html>

<html>
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Corona Admin</title>
        <!-- plugins:css -->
    <link rel="stylesheet" href="~/adminassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/adminassets/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/adminassets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/adminassets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/adminassets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/adminassets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link href="~/adminassets/css/_layout.css" rel="stylesheet" />
    <link href="~/adminassets/css/_navbar.css" rel="stylesheet" />
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
    <link rel="stylesheet" href="~/adminassets/css/style.css">
        <!-- End layout styles -->
    <link rel="shortcut icon" href="~/adminassets/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="">
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="index.html" style="color:White">KAPERMAK</a>
                <a class="sidebar-brand brand-logo-mini" href="index.html" style="color:White">K</a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="~/adminassets/images/faces/face15.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">Nurhan Dağlıoğlu Lala</h5>
                                <span>Admin</span>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Şifre Değiştir</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Ürünler</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Produc" asp-action="Index">Ürün Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Produc" asp-action="GetIndex">Ürün Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#proje" aria-expanded="false" aria-controls="proje">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Proje</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="proje">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Projects" asp-action="Index">Proje Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Projects" asp-action="GetAllProjectIndex">Proje Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#yorum" aria-expanded="false" aria-controls="yorum">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Yorumlar</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="yorum">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Comments" asp-action="Index">Yorum Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Comments" asp-action="GetAllCommendIndex">Yorum Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#hizmet" aria-expanded="false" aria-controls="hizmet">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Hizmetler</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="hizmet">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Servic" asp-action="Index">Hizmet Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Servic" asp-action="GetAllServiceIndex">Hizmet Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#tercih" aria-expanded="false" aria-controls="tercih">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Tercihler</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tercih">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Preference" asp-action="Index">Tercih Sebebi Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Preference" asp-action="GetAllPreferanceIndex">Tercih Sil / Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#hakkımda" aria-expanded="false" aria-controls="hakkımda">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Hakkımızda</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="hakkımda">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Abouts" asp-action="Index">Hakkımda Yazısı Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Abouts" asp-action="GetAllIndex">Hakkımda Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#kategori" aria-expanded="false" aria-controls="kategori">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Kategori</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="kategori">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Category" asp-action="Index">Kategori Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Category" asp-action="GetAllCategory">Kategori Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="contact">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">İletişim</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="contact">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="ContactAdmins" asp-action="Index">Admin İletişim Bilgilerini Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="ContactAdmins" asp-action="GetAllAdminContact">Admin İletişim Bilgilerini Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#referance" aria-expanded="false" aria-controls="referance">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Referanslar</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="referance">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Reference" asp-action="Index">Referans Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Reference" asp-action="GetAllReferanceIndex">Referans Sil/Güncelle</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                </div>
        </div>
        </div>
        </div>
   
        <div>
       
            <div class="container-fluid page-body-wrapper">
           
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/adminassets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            
            <ul class="navbar-nav navbar-nav-right">
             
              <li class="nav-item dropdown border-left">
                            <a class="nav-link" asp-controller="Contacts" asp-action="GetAllContactIndex">Mesajlar</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="~/adminassets/images/faces/face15.jpg" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Nurhan Dağlıoğlu Lala</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Ayarlar</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item" asp-controller="Admin" asp-action="TokenDelete">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                    <p class="preview-subject mb-1">Çıkış Yap</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
                   
                </div>
               
            </nav>
           
          
        <!-- partial -->
        <!-- main-panel ends -->
          
        </div>
        
    </div>

    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <script src="~/adminassets/js/vendor.bundle.base.js"></script>
    <script src="~/adminassets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/adminassets/vendors/js/bootstrap.min.js.map"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js.map"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js.map"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        var dongu = true;
        var cardsPerPage = 4;
        if ((screen.width >= 1024)) {
            cardsPerPage = 4;
        } else if ((screen.width < 1024) && (screen.width >= 768)) {
            cardsPerPage = 3;
        } else if ((screen.width < 768) && (screen.width >= 360)) {
            cardsPerPage = 2;
        } else if ((screen.width < 360)) {
            cardsPerPage = 2;
        }
        if (dongu) {
            let xhr = new XMLHttpRequest();
            let url = 'https://localhost:7083/Projects/UserScreenSize?size=' + cardsPerPage;
            xhr.open("GET", url);
            xhr.send();
        }
    </script>
    <script>
        var dongu = true;
        var cardsPerPage = 8;
        if ((screen.width >= 1024)) {
            cardsPerPage = 8;
        } else if ((screen.width < 1024) && (screen.width >= 768)) {
            cardsPerPage = 4;
        } else if ((screen.width < 768) && (screen.width >= 360)) {
            cardsPerPage = 2;
        } else if ((screen.width < 360)) {
            cardsPerPage = 1;
        }
        if (dongu) {
            let xhr = new XMLHttpRequest();
            let url = 'https://localhost:7083/Produc/UserScreenSize?size=' + cardsPerPage;
            xhr.open("GET", url);
            xhr.send();
        }

    </script>
    <script type="text/javascript">

        var value = "";
        $(document).ready(function () {
            $("#search").click(function () {
                value = $("#arama").val();
                console.log("girilen değer  " + 0 + value);
                document.getElementById("search").href = "@Url.Action("GetIndex", "Produc",  new{search=" "})" + value;
            });
            //let xhr = new XMLHttpRequest();
            //let url = 'https://localhost:7083/Products/Index?search=' + value;
            //xhr.open("GET", url);
            //xhr.send();
        });

    </script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/adminassets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/adminassets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/adminassets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/adminassets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/adminassets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/adminassets/js/select2.js"></script>
    <script src="~/adminassets/js/off-canvas.js"></script>

    <script src="~/adminassets/js/hoverable-collapse.js"></script>

    <script src="~/adminassets/js/settings.js"></script>
    <script src="~/adminassets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/adminassets/js/dashboard.js"></script>
    <script src="~/adminassets/js/misc.js"></script>
</body>

</html>