@model NewProjeClient
@{
    Layout = "_AdminLayout";
}
<script src="~/assets/js/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Proje Ekle</h4>
            <p class="card-description"> Proje Bilgileri </p>
            <form class="forms-sample" asp-action="PostsProject" method="post" asp-controller="Projects" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Proje Adı</label>
                    <input type="text" asp-for="ProjectTitle" class="form-control" id="exampleInputName1" placeholder="Proje Adı">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Proje Açıklaması</label>
                    <input type="text" asp-for="ProjectDetail" class="form-control" id="exampleInputEmail3" placeholder="Proje Açıklaması">
                </div>
                <div class="form-group">
                    <label>Resim Yükle (Zorunlu)</label><br />
                    <input type="file" name="ProjectImage" asp-for="ProjectImage" class="btn btn-primary" required>
                </div>
                <button type="submit" id="btn" class="btn btn-primary mr-2">GÖNDER</button>
                <button class="btn btn-dark">VAZGEÇ</button>
            </form>
        </div>
        <input id="bag" style="display:none;" value="@ViewBag?.Message" />
    </div>
</div>
<script>
    var data = document.getElementById("bag").value;
    console.log("DATA " + data);
    if (data == "Başarılı") {
        swal("Proje Eklendi!", {
            icon: "success",
            button: "Tamam!",
        });
    } else if (data == "Başarısız") {
        swal("Hata Oluştu daha sonra tekrar deneyin!", {
            icon: "error",
            button: "Tamam!",
        });
    }
</script>
